extends layout

block content
  h1 Welcome to Mimikria
  section#api
    p voices
    form(action="/api/", method="GET")
      button="submit"

  section#voices
    p voices
    form(action="/api/voices", method="GET")
      button="submit"

  section#profile
    p profile
    form(action="/api/", method="POST")
      input(name="email", value="email@example.com")
      button="submit"

